@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-gray-50: rgb(var(--app-gray-50));
  --color-gray-100: rgb(var(--app-gray-100));
  --color-gray-200: rgb(var(--app-gray-200));
  --color-gray-300: rgb(var(--app-gray-300));
  --color-gray-400: rgb(var(--app-gray-400));
  --color-gray-500: rgb(var(--app-gray-500));
  --color-gray-600: rgb(var(--app-gray-600));
  --color-gray-700: rgb(var(--app-gray-700));
  --color-gray-800: rgb(var(--app-gray-800));
  --color-gray-900: rgb(var(--app-gray-900));
  --color-gray-950: rgb(var(--app-gray-950));
  --color-gray: rgb(var(--app-gray-default));

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-color-1: hsl(var(--color-1));
  --color-color-2: hsl(var(--color-2));
  --color-color-3: hsl(var(--color-3));
  --color-color-4: hsl(var(--color-4));
  --color-color-5: hsl(var(--color-5));

  --animate-drawer-open: open 0.3s ease-in-out;
  --animate-drawer-close: close 0.3s ease-in-out;
  --animate-waving-hand: waving 2s linear 3;
  --animate-pulse: pulse var(--duration) ease-out infinite;
  --animate-border-beam: border-beam calc(var(--duration) * 1s) infinite linear;
  --animate-background-position-spin: background-position-spin 3000ms infinite alternate;
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-shine: shine var(--duration) infinite linear;
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s) infinite;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.125rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.875rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.75rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 4.25rem;

  @keyframes open {
    0% {
      opacity: 1;
      transform: translateX(100%);
    }
  }
  @keyframes close {
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  @keyframes waving {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes pulse {
    0%,
    100% {
      box-shadow: 0 0 0 0 var(--pulse-color);
    }
    50% {
      box-shadow: 0 0 0 8px var(--pulse-color);
    }
  }
  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }
  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }
    100% {
      background-position: bottom center;
    }
  }
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  html {
    scroll-behavior: smooth;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --spotlight-color: 59 130 246;
    /* blue-500 */

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Gray Colors */
    --app-gray-50: 250 250 250;
    --app-gray-100: 244 244 245;
    --app-gray-200: 228 228 231;
    --app-gray-300: 212 212 216;
    --app-gray-400: 161 161 170;
    --app-gray-500: 113 113 122;
    --app-gray-600: 82 82 91;
    --app-gray-700: 63 63 70;
    --app-gray-800: 39 39 42;
    --app-gray-900: 24 24 27;
    --app-gray-950: 9 9 11;
    --app-gray-default: 24 24 27;

    /* Chart Colors */
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 215.4 16.3% 46.9%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 210 40% 98%;
    --chart-5: 0 0% 100%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    --spotlight-color: 96 165 250;
    /* blue-400 */

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* Chart Colors */
    --chart-1: 210 40% 98%;
    --chart-2: 215 20.2% 65.1%;
    --chart-3: 217.2 32.6% 17.5%;
    --chart-4: 222.2 47.4% 11.2%;
    --chart-5: 222.2 84% 4.9%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Code Editor Theme */
.code-one-dark {
  @apply text-sm;
  font-family: 'Fira Code', monospace;
}

/* Animations */
.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Pulse Animation Variables */
:root {
  --pulse-color: rgba(59, 130, 246, 0.1);
  --duration: 1.5s;
}
